---
import { startRequest, getRequest } from "../request";

let requestId = null;
if (Astro.url.searchParams.has("requestId")) {
  requestId = Astro.url.searchParams.get("requestId");
} else {
  const formData = await Astro.request.formData();
  const prompt = formData.get("prompt").toString();
  requestId = await startRequest(prompt.trim().length ? prompt : "dog");
}
const req = getRequest(requestId);
---

<div
  hx-get={`/prompt?requestId=${requestId}`}
  hx-target="#result"
  hx-trigger={req.pending ? "load delay:50ms" : ""}
  class="italic"
>
  <span>{req.completion}</span>
  {
    req.pending && (
      <span class="ml-3 pl-1 w-1 h-5 bg-slate-700 border border-black" />
    )
  }
</div>
